$select-padding-x: 0.55rem;
$select-padding-y: 0.75rem;
$select-border-radius: 0.35rem;
//$select-font-size: 0.855rem;
$select-color-border: #ced4da;
$select-color-text: #212529;
$select-shadow-input: none;
/*
min-height: calc(1.6em + 1.1rem + 2px);
padding: 0.55rem 0.75rem;
font-size: 0.855rem;
border-radius: 0.35rem;
}*/
